{% extends 'app/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Password Reset Confirm{% endblock title %}
{% block main-content %}
<div class="container">
 <div class="row my-3">
  <div class="col-sm-6 offset-sm-3">
  	<h3>Password Reset Confirm</h3>
   <form action="" method="post" novalidate class="shadow p-5">
   	{% csrf_token %}  
      {{ form|crispy }}
    <input type="submit" class="btn btn-primary mt-4" value="Reset Password">
    <br>
   </form>
  </div>
 </div>
</div>
{% endblock main-content %}