{% extends 'app/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Change Password Done {% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
 <h3>Welcome {{user}}</h3>
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary">Profile</a></li>
   </ul>
  </div>
  <div class="col-sm-9 offset-sm-1">
    <h3>Password Change Successfully!</h3>
    
  </div>
 </div>
</div>
{% endblock main-content %}